<!doctype html>
<html lang="pt">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="./tela-cuidador.component.css" rel="stylesheet">
   
  
</head>

<body>
    <main>

        <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
            <a routerLink="/tela-cuidador" class="bi me-2 nav-link text-white">
                <!-- <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg> -->
                <h3>
                    <mat-icon width="16" height="16">assignment_ind</mat-icon> AlzheimerApp
                </h3>


            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a routerLink="/tela-paciente" class="nav-link text-white">
                        <mat-icon class="bi me-2" width="16" height="16">home</mat-icon> Home
                    </a>
                </li>
                <li>
                    <a (click)="passaUrlCadastroPaciente()" class="nav-link text-white">
                        <mat-icon class="bi me-2" width="16" height="16">person_add</mat-icon> Cadastrar Paciente
                    </a>
                </li>
                <li>
                    <a (click)="passaUrlPaciente()" class="nav-link text-white">
                        <mat-icon class="bi me-2" width="16" height="16">supervised_user_circle</mat-icon> Gerenciar
                        Paciente
                    </a>
                </li>
                <hr>
                <li>
                    <a routerLink="/tela-paciente" class="nav-link text-white">
                        <mat-icon class="bi me-2" width="16" height="16">feedback</mat-icon> Sobre o App
                    </a>
                </li>
                <hr>
                <div class="btn-group dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton2"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <mat-icon class="bi me-2" width="16" height="16">account_circle</mat-icon>
                        Conta
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                        <li><a class="dropdown-item" href="#">Editar</a></li>
                        <li><a class="dropdown-item" href="#">Excluir</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" routerLink="/tela-login">Sair</a></li>
                    </ul>
                </div>
            </ul>
            <hr>
            <p>Todos os direitos reservados a &copy;AlzheimerApp - {{ano}}
            </p>
        </div><br>
        <div class="b-example-divider">
        </div>
        <div class="row">
            <div class="col-md-8 datagrid">
                <mat-card>
                <h3 *ngIf="data">Olá, {{nome}}!</h3><br>
                <h5>Aqui estão os dados do paciente</h5>
                <datagrid 
                [data]="data" 
                [columns]="pacientes" 
                [showActionsColumn]="true"
                [initialColumnToSort]="0">
        
                    <ng-template actions-column let-row="row" let-rowIndex="rowIndex">
                        <button class="btn btn-outline-primary btn-sm" (click)="editarPaciente(row)" style="margin-right: 2px;"><i class="fa fa-edit"></i></button>
                        <button class="btn btn-outline-danger btn-sm"><i class="fa fa-trash"></i></button>
                    </ng-template>
                    
                </datagrid><br>
                <h5>Você pode gerenciá-lo através do botão abaixo ou utilizando o menu -> Gerenciar Paciente.</h5><br>
                <div class="col-md-12">
                    <a (click)="passaUrlPaciente()"><button class="btn btn-primary">Gerenciar Paciente</button></a>
                </div>
            </mat-card>
            </div>
        </div>
        
    </main>
     
</body>

</html>