mat-card-title{
    color: rgb(132, 132, 132);
    font-size: 30px;
}
.mat-icon {
    vertical-align: middle;
    height: 27px;
  }
  .mat-card{
    margin-top: 4%;
    min-width: 60%;
    min-height: auto;
    margin-left: auto;
    margin-right: auto;
}
  .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50%;
    min-width: 8%;
  }
  
  