mat-card-title{
    color: blue;
    font-size: 50px;;
}
.mat-icon {
    vertical-align: middle;
    height: 27px;
  }
   .mat-card{
    margin-top: 2%;
   
    width:100%;
    height: auto;
    margin-left: 5%;
    flex-direction: row;
    align-items: center;
   
  }
  .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50%;
    min-width: 100%;
  }