
      <div class="container">
          <mat-card>
            <ui-report #report reportTitle="Agendamento paciente">
            <div class="report-body">
              <mat-card-title>
                 Dados do Agendamento
                <mat-divider></mat-divider>
              </mat-card-title>
              
              <div class="row">
                <div class="mb-3 col-md-6 mt-2">
                  <input-text
                  [label]="'Nome do(a) Paciente'"
                  [disabled]="true"
                  [showValidations]="true"
                  [(ngModel)]="dadosPaciente.nome"
                  >
              </input-text>
                </div>
              </div>

              <div class="row">
                <div class="mb-3 col-md-6 mt-2">
                  <input-text
                  [label]="'Idade'"
                  [disabled]="true"
                  [showValidations]="true"
                  [(ngModel)]="dadosPaciente.idade"
                  >
              </input-text>
                </div>
              </div>

              <div class="row">
                <div class="mb-3 col-md-6 mt-2">
                  <input-text
                  [label]="'Sexo'"
                  [disabled]="true"
                  [showValidations]="true"
                  [(ngModel)]="dadosPaciente.sexo"
                  >
              </input-text>
                </div>
              </div>

              <div class="row">
                  <div class="mb-3 col-md-6 mt-2">
                    <input-text
                    [label]="'Endereço'"
                    [disabled]="true"
                    [showValidations]="true"
                    [(ngModel)]="dados.endereco"
                    >
                </input-text>
                  </div>
                </div>
                <div class="row">
                  <div class="mb-3 col-md-6 mt-2">
                    <input-text
                    [label]="'Especialidade'"
                    [disabled]="true"
                    [showValidations]="true"
                    [(ngModel)]="dados.especialidade"
                    >
                </input-text>
                  </div>
              </div>

              <div class="row">
                <div class="mb-3 col-md-6 mr-0 mt-2">
                  <input-text
                  [label]="'Feito Pelo Plano?'"
                  [disabled]="true"
                  [showValidations]="true"
                  [(ngModel)]="dados.feitoPeloPlanoDescricao"
                  >
              </input-text>
            </div>
          </div>
          <div class="row">
                  <div class="mb-3 col-md-6 mr-0 mt-2">
                      <input-text
                      [label]="'Data'"
                      [disabled]="true"
                      [showValidations]="true"
                      [(ngModel)]="dados.dataAgendamento"
                      >
                    </input-text>
                  </div>
              </div>
            </div>
            </ui-report>
            <div class="row">
              <div class="col-md-4">
                 <button type="button" class="btn btn-danger" style="margin-right: 1px;" (click)="Print()"><mat-icon>backup</mat-icon> Baixar</button>
                  <button type="button" class="btn btn-secondary" (click)="Voltar()"><mat-icon>clear_all</mat-icon> Voltar</button>
              </div>
          </div>

          </mat-card>
       
    <!-- <div class="page-footer">
      <hr class="mb-1" />
      <div class="text-center">
       AlzheimerApp - {{ano}}
      </div>
    </div> -->
 
</div>
