.container{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.mat-card{
    margin-top: 5%;
    min-width: 80%;
    min-height: auto;
}
.portlet{
    background-color: rgb(250, 249, 250);
    margin-top: 3%;
    padding: 2%;
}
.mat-icon {
    vertical-align: middle;
  }
