
<app-menu></app-menu>
<h3>"Meu filho, ampara o teu pai na velhice e não lhe causes desgosto enquanto ele vive"</h3>
<hr>
<mat-card>
  <div class="row">
    <div class="col-md-4">
        <img src="../../../assets/logomarca-uerj.png" alt="some text" width=100 height=100>
        <img src="../../../assets/logo-uezo.jpg" alt="some text" width=100 height=100>
    </div>
    <div class="col-md-8">
     <h1><i>Trabalho de Conclusão de Curso</i></h1>
    </div>
 
  </div>
</mat-card>

<div id="card-principal">
<mat-card>
    <mat-card-title>
        <mat-icon>grid_on</mat-icon> Tema
      </mat-card-title>
      <p>
        Sistema de Acompanhamento para pessoas com Alzheimer
    </p>
      <hr>

  <mat-card-title>
    <mat-icon>grid_on</mat-icon> Aluno
  </mat-card-title>

  <hr>
  <p>
      Nome:Leandro Barros Pontes
  </p>
  <p>
      Matrícula:1713332040
  </p>
  <hr>
  <mat-card-title>
    <mat-icon>grid_on</mat-icon> Orientador
  </mat-card-title>

  <p class="mb-2">
    Prof. Denis Gonçalves Cople
  </p>
  
</mat-card>
</div>
<footer>Todos os direitos reservados a &copy;AlzheimerApp</footer>


